@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */

/* Reset default margins and paddings */
* {
  @apply m-0 p-0 box-border;
}

html,
body {
  @apply h-full w-full bg-noise-pattern bg-cover bg-fixed bg-center;
}

/* Custom Map Styles */
.mapboxgl-popup-content {
  @apply bg-white rounded-lg shadow-lg;
}

.memory-popup {
  @apply max-w-sm;
}

.mapboxgl-ctrl-group {
  @apply bg-white/90 backdrop-blur-sm border border-gray-200 rounded-lg shadow-lg;
}

.mapboxgl-ctrl-group button {
  @apply border-gray-200;
}

/* Style for the geolocation button when active */
.mapboxgl-ctrl-geolocate-active {
  @apply text-blue-500;
  z-index: 0;
}

/* Style for the accuracy circle */
.mapboxgl-user-location-accuracy-circle {
  @apply bg-blue-500/20;
  pointer-events: none;
  z-index: 0; /* Ensure it's below the markers */
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
}

.mapboxgl-user-location-accuracy-circle {
  pointer-events: none !important; /* Use !important to override any inline styles */
}

/* Style for the location dot */
.mapboxgl-user-location-dot {
  @apply bg-blue-500;
  z-index: 2; /*Ensure it's above the accuracy circle */
}

/* Optional: Hide only mapbox logo and attribution text */
.mapboxgl-ctrl-bottom-left {
  @apply hidden;
}

/* Hide only the attribution but keep the controls visible */
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-attrib {
  @apply hidden;
}

/* Pulse Animation */
.pulse-animation {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.7);
  }

  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
}

/* Additional Custom Styles (if needed) */
/* You can add more custom styles below this comment */
